{% extends "base.html" %}

{% block content %}

<h2>Upload Document</h2>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <table>

        <tr>
            <td>Vehicle</td>
            <td>{{ form.vehicleId }}</td>
        </tr>

        <tr>
            <td>Document Type</td>
            <td>{{ form.doc_type }}</td>
        </tr>

        <tr>
            <td>Document Number</td>
            <td>{{ form.doc_number }}</td>
        </tr>

        <tr>
            <td>Document File</td>
            <td>{{ form.doc_file }}</td>
        </tr>

        <tr>
            <td>Expiry Date</td>
            <td>{{ form.expiry_date }}</td>
        </tr>

    </table>

    <br>

    <button type="submit" class="btn btn-success">Upload</button>

</form>

<br>

<a href="{% url 'document_list' %}" class="btn">Back</a>

{% endblock %}