{% extends "base.html" %}

{% block content %}

<h2>Add Service Record</h2>

<form method="POST">

{% csrf_token %}

<table>

<tr>
<td>Vehicle</td>
<td>{{ form.vehicleId }}</td>
</tr>

<tr>
<td>Service Staff</td>
<td>{{ form.staffId }}</td>
</tr>

<tr>
<td>Service Type</td>
<td>{{ form.service_type }}</td>
</tr>

<tr>
<td>Service Date</td>
<td>{{ form.service_date }}</td>
</tr>

<tr>
<td>Cost</td>
<td>{{ form.cost }}</td>
</tr>

</table>

<br>

<button type="submit" class="btn btn-success">Add Service</button>

</form>

<br>

<a href="{% url 'service_list' %}" class="btn">Back</a>

{% endblock %}