{% extends 'base.html' %}

{% block title %}Login | Vehicle Vault{% endblock %}

{% block content %}


<div class="auth-wrapper"> 
    <div class="signup-card">
        <div class="login-header">
            <div class="icon-box"><i class="fas fa-user-shield"></i></div>
            <h2>Welcome Back</h2>
            <p>Enter your vault credentials</p>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="custom-form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-primary" style="width: 100%;">
                <i class="fas fa-sign-in-alt"></i> Login
            </button>
        </form>

        <div class="form-footer">
            <a href="{% url 'forgot_password' %}">Forgot Password?</a>
            <p>New here? <a href="{% url 'signup' %}">Create Account</a></p>
        </div>
    </div>
</div>
{% endblock %}