{% extends "base.html" %}

{% block content %}

<h2>Vehicles</h2>

<a href="{% url 'add_vehicle' %}" class="btn">Add Vehicle</a>

<table>

<tr>
<th>Number</th>
<th>Type</th>
<th>Model</th>
<th>Color</th>

{% if user.role == "admin" %}
<th>Action</th>
{% endif %}

</tr>

{% for v in vehicles %}

<tr>
<td>{{ v.vehicle_number }}</td>
<td>{{ v.vehicle_type }}</td>
<td>{{ v.vehicle_model }}</td>
<td>{{ v.vehicle_color }}</td>

{% if user.role == "admin" %}
<td>
<a href="{% url 'delete_vehicle' v.id %}" class="btn">
Delete
</a>
</td>
{% endif %}

</tr>

{% endfor %}

</table>

{% endblock %}