{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Vehicle Vault{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    function toggleDark() {
        document.body.classList.toggle("dark");
    }
</script>
<body>

    {% include 'navbar.html' %}

    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>